### Rachel has 20 thin rods whose lengths, in cms, are 1,2,3......20. Any two rods can be connected at the ends. Rachel selects three tods to make a triangle, then three other rods to make a second triangle and so on.

### Rachel wants to use 18 rods to form a set of six triangle with equal perimeters. Prove if such a set exist or not.

In [1]:
import numpy as np
import pandas as pd

Define an empty array.

In [3]:
b = np.empty((0,3),int)
b

array([], shape=(0, 3), dtype=int32)

This creates a matrix of all those possible triangles that can be constructed using the rods.

In [4]:
for i in range(1, 21):
    for j in range(1,21):
        for k in range(1, 21):
            if i<j and j<k and i<k:
                
                # this is the triangle property
                
                if (i + j > k and i + k > j and k + j > i):
                    b = np.append(b, np.array([[i, j, k]]), axis=0)

In [5]:
b

array([[ 2,  3,  4],
       [ 2,  4,  5],
       [ 2,  5,  6],
       ...,
       [17, 18, 20],
       [17, 19, 20],
       [18, 19, 20]])

In [6]:
b.shape

(525, 3)

This C matrix contains the perimeters of all the triangles in b matrix.

In [7]:
c = np.sum(b, axis=1)
c

array([ 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41,
       12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 15, 16, 17,
       17, 18, 19, 19, 20, 21, 21, 22, 23, 23, 24, 25, 25, 26, 27, 27, 28,
       29, 29, 30, 31, 31, 32, 33, 33, 34, 35, 35, 36, 37, 37, 38, 39, 39,
       40, 41, 41, 42, 43, 18, 19, 20, 21, 20, 21, 22, 23, 22, 23, 24, 25,
       24, 25, 26, 27, 26, 27, 28, 29, 28, 29, 30, 31, 30, 31, 32, 33, 32,
       33, 34, 35, 34, 35, 36, 37, 36, 37, 38, 39, 38, 39, 40, 41, 40, 41,
       42, 42, 43, 44, 21, 22, 23, 24, 25, 23, 24, 25, 26, 27, 25, 26, 27,
       28, 29, 27, 28, 29, 30, 31, 29, 30, 31, 32, 33, 31, 32, 33, 34, 35,
       33, 34, 35, 36, 37, 35, 36, 37, 38, 39, 37, 38, 39, 40, 41, 39, 40,
       41, 42, 41, 42, 43, 43, 44, 45, 24, 25, 26, 27, 28, 29, 26, 27, 28,
       29, 30, 31, 28, 29, 30, 31, 32, 33, 30, 31, 32, 33, 34, 35, 32, 33,
       34, 35, 36, 37, 34, 35, 36, 37, 38, 39, 36, 37, 38, 39, 40, 41, 38,
       39, 40, 41, 42, 40, 41, 42, 43, 42, 43, 44, 44, 45, 46, 27, 28, 29,
       30, 31, 32, 33, 29, 30, 31, 32, 33, 34, 35, 31, 32, 33, 34, 35, 36,
       37, 33, 34, 35, 36, 37, 38, 39, 35, 36, 37, 38, 39, 40, 41, 37, 38,
       39, 40, 41, 42, 39, 40, 41, 42, 43, 41, 42, 43, 44, 43, 44, 45, 45,
       46, 47, 30, 31, 32, 33, 34, 35, 36, 37, 32, 33, 34, 35, 36, 37, 38,
       39, 34, 35, 36, 37, 38, 39, 40, 41, 36, 37, 38, 39, 40, 41, 42, 38,
       39, 40, 41, 42, 43, 40, 41, 42, 43, 44, 42, 43, 44, 45, 44, 45, 46,
       46, 47, 48, 33, 34, 35, 36, 37, 38, 39, 40, 41, 35, 36, 37, 38, 39,
       40, 41, 42, 37, 38, 39, 40, 41, 42, 43, 39, 40, 41, 42, 43, 44, 41,
       42, 43, 44, 45, 43, 44, 45, 46, 45, 46, 47, 47, 48, 49, 36, 37, 38,
       39, 40, 41, 42, 43, 38, 39, 40, 41, 42, 43, 44, 40, 41, 42, 43, 44,
       45, 42, 43, 44, 45, 46, 44, 45, 46, 47, 46, 47, 48, 48, 49, 50, 39,
       40, 41, 42, 43, 44, 45, 41, 42, 43, 44, 45, 46, 43, 44, 45, 46, 47,
       45, 46, 47, 48, 47, 48, 49, 49, 50, 51, 42, 43, 44, 45, 46, 47, 44,
       45, 46, 47, 48, 46, 47, 48, 49, 48, 49, 50, 50, 51, 52, 45, 46, 47,
       48, 49, 47, 48, 49, 50, 49, 50, 51, 51, 52, 53, 48, 49, 50, 51, 50,
       51, 52, 52, 53, 54, 51, 52, 53, 53, 54, 55, 54, 55, 56, 57])

This counts the frequency of those perimeters.

In [8]:
values, counts = np.unique(c, return_counts=True)

In [9]:
d = np.array([values, counts])

In [10]:
d = pd.DataFrame(data = d)
d = d.transpose()
d.head()

    0  1
0   9  1
1  11  1
2  12  1
3  13  2
4  14  1

In [11]:
d = d.rename(columns={0:'Perimeter', 1:'Frequency'})
d.head()

   Perimeter  Frequency
0          9          1
1         11          1
2         12          1
3         13          2
4         14          1

In [12]:
d[d['Frequency']>5]

    Perimeter  Frequency
11         21          7
13         23          8
14         24          7
15         25         10
16         26          8
17         27         12
18         28         10
19         29         14
20         30         12
21         31         16
22         32         14
23         33         19
24         34         16
25         35         21
26         36         19
27         37         24
28         38         21
29         39         27
30         40         24
31         41         30
32         42         27
33         43         24
34         44         21
35         45         19
36         46         16
37         47         14
38         48         12
39         49         10
40         50          8
41         51          7